---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";

import dh_portal from "~/assets/images/dh_portal.png";
import salesbop from "~/assets/images/salesbop.png";
import cs_wiki from "~/assets/images/cs_wiki.png";
import oscs from "~/assets/images/oscs.png";
---

<Layout title="Jason Huang">
  <main class="mx-auto max-w-4xl space-y-8 px-10">
    <div class="mt-8 space-y-4">
      <h1 class="text-5xl font-bold">Jason Huang</h1>
      <p>AKA: err53, error53, json, jhthenerd</p>
      <ul class="text-xl">
        <li>Full-Stack Developer</li>
        <li>Uni Student</li>
        <li>Open-Knowledge Advocate</li>
      </ul>
    </div>
    <div>
      <h2 class="text-3xl font-semibold">Projects</h2>
      <div class="grid gap-4 py-3 md:grid-cols-2">
        <Card
          title="Personal Site"
          description="You're looking at it right now!"
          href="https://github.com/err53/personal-site"
          loading="eager"
        />

        <Card
          title="DeltaHacks Portal"
          description="A hackathon registration and management system"
          href="https://github.com/deltahacks/portal"
          imgSrc={dh_portal}
          loading="eager"
        />

        <Card
          title="SalesBop"
          description="An up-and-coming AI sales coaching app"
          href="https://www.salesbop.io"
          imgSrc={salesbop}
        />

        <Card
          title="McMaster CS Wiki"
          description="A repository of course knowledge, notes, and resources"
          href="https://wiki.egirls.dev"
          imgSrc={cs_wiki}
        />

        <Card
          title="Open Source Cheat Sheets"
          description="A collection of community-built, freely modifiable course cheat sheets"
          href="https://github.com/mac-egirls/oscs"
          imgSrc={oscs}
        />
      </div>
    </div>
  </main>
  <footer class="text-center">
    <Footer />
  </footer>
</Layout>
