---
export interface Props {
  label: string;
  href: string;
}

const { label: label, href }: Props = Astro.props;
---

<a
  aria-label={label}
  href={href}
  target="_blank"
  rel="noreferrer noopener"
  class="hover:bg-accent hover:text-accent-foreground border p-3 shadow-md active:shadow-none"
>
  <div class="m-auto">
    <slot />
  </div>
</a>
