---
export interface Props {
  aria_label?: string;
  href: string;
}

const { aria_label, href }: Props = Astro.props;
---

<a
  aria-label={aria_label}
  href={href}
  class="hover:bg-accent hover:text-accent-foreground flex h-full flex-col justify-between border shadow-md active:shadow-none"
>
  <slot />
</a>
