---
export interface Props {
  title: string;
  href: string;
}

const { title, href }: Props = Astro.props;
---

<a
  aria-label={title}
  href={href}
  target="_blank"
  rel="noreferrer noopener"
  class="group h-full"
>
  <div
    class="flex h-16 w-16 flex-col border p-2 shadow-md group-hover:bg-slate-50 group-active:bg-slate-100 group-active:shadow-none"
  >
    <div class="m-auto">
      <slot />
    </div>
  </div>
</a>
